@model IEnumerable<ParkMap.Models.ParkingLot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Selection</h1>

<p>
    <a class="btn udla text-light" asp-action="Create">Create New</a>
</p>
<div class="container disp-flex">

    @foreach (var item in Model)
    {

        <div class="container disp-flex-col">
            <h2>@item.Name</h2>
            @{
                switch (@item.Id)
                {
                    case 1:
                        <iframe class="border-soft" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1865.0246898912108!2d-78.45732381610932!3d-0.1632657466412032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x75552394aac684cf!2zMMKwMDknNDkuMiJTIDc4wrAyNycyOC4yIlc!5e1!3m2!1sen!2sec!4v1667740444016!5m2!1sen!2sec" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        break;
                    case 2:
                        <iframe class="border-soft" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d693.5739416141331!2d-78.45958037091827!3d-0.16295494144553818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x494de438292c29b3!2sUniversidad%20de%20Las%20Am%C3%A9ricas%20Campus%20UDLAPark!5e1!3m2!1sen!2sec!4v1667748065480!5m2!1sen!2sec" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        break;
                    case 3:
                        <iframe class="border-soft" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d932.5123731301968!2d-78.45830282239025!3d-0.16265688766252875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sec!4v1667740534842!5m2!1sen!2sec" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        break;
                }
            }
            <div class="container disp-flex">
                <a class="btn udla text-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn udla text-light" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn udla text-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>
<br />
<br />